/*body and general styling*/
body{
  background-color: black;
  margin:0;
}
h2,h3,
h4,h5{
  font-family: Helvetica;
  color: seashell;
  color: seashell;
}
/*header styling*/
header{
  height: 69px;
  border-bottom: 1px solid seashell;
  width: 100%;
  position: fixed;
  z-index: 1;
  justify-content: space-between;
  background-color: black;
  /*padding-bottom: 20px;*/
}
.container{
  display: flex;
}
.container ul{
  list-style: none;
  display:inline-flex;
  padding: 20px 10px;
  align-items: flex-end;
  align-items: center;
}
.container li{
  padding: 5px;
  align-items: center;
  font-family: Helvetica;
  color: seashell;
  font-size: 22px;


}
.container a{
  text-align: right;
  font-family: Helvetica;
  color: seashell;
  font-size: 22px;

}
.logo img{
  height:50px;
  padding: 10px;
  align-items: center;
  }
nav{
  padding-right: 20px;
  background-color: black;
}
/*flex styling*/
.container{
  display:flex;
}
/*section style*/

/*Main section styling*/
#main{
  /*background-image: url("../images/main.jpg");*/
  justify-content: center;
}
h2,
  h4{
    justify-content: center;
  }
#banner{
  justify-content: center;
}

.banner h2{
  justify-content: center;
}

/*Tea of the Month Section styling*/
.tea-month img{
  height:200px;
  width:300px;
}
/*Locations styling*/
.locations{
  display:inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 980px;
  height: 500px;
}
.locations h2{
  font-family: Helvetica;
  color: seashell;
text-align: center;

}
.location-bg-container{
  height: 500px;
  background-image: url("../locations.jpg");
  margin-top: 50px;
}
.locations-container{
  height:auto;
  width: 300px;
  justify-content: space-between;

}
.locations-container-column{
  flex-direction: column;
}
span{
  font-family: Helvetica;
  color: seashell;
  font-size: 22px;
  display: block;
}
.locations-container-column h3{
  font-family: Helvetica;
  color: seashell;
}

<!--DONE---------------------------------------------------------------------->
/*Contact styling*/
.contact{
  height:200px;
  width: 100%;
}
.contact-padding{
  margin: 10px 0 55px;
}
.contact-bottom{
  margin-bottom: 27.5px;
  margin-top: 0px;
}
#center {
  text-align: center;
        }

/*Footer styling*/
footer h5{
  padding-left: 20px;
  text-align: left;
}
